.topFixedBanner {
    background-image: url("../image/summary.jpeg");
    min-height: 34.375rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.topBannerOverlay {
    position: absolute;
    min-height: 34.375rem;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

.topContent {
    margin-top: 15em;
}

.topTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 3rem;
}

.topSubTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 1.375rem;
}

.cloudnetworkIcon, .barchartIcon, .internetIcon {
    height: 5rem;
    width: 5rem;
}

.serviceCard {
    margin: 0.313rem 0.313rem 0.313rem 0.313rem; 
    height: 22rem;
    padding: 3.75rem 1.875rem 3.75rem 1.875rem;
    box-shadow: 0 0 0.5rem 0 rgb(4, 55, 105, 0.2);
}

.serviceCard:hover {
    box-shadow: 0 0 1rem 0 rgb(4, 55, 105, 0.2);
}

.serviceName {
    color: #051b35;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.serviceDescription {
    color: #2e2e2e;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.serviceMainTitle {
    color: #051b35;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.bottom {
    background: #051b35 none repeat scroll 0 0;
    height: 0.188rem;
    width: 6.25rem;
    margin: 1.9rem auto 0;
    margin-bottom: 3rem;
}

.navTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 1.875rem;
    text-transform: uppercase;
}

.navTitleScroll {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #878788;
    font-size: 1.875rem;
    text-transform: uppercase;
}

/* will give some time to apply the shadow */
.navBackground {
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    background-color: rgb(0, 0, 0, 0.0);
}

.navBackgroundScroll {
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    background-color: white;
}

.navLinkItem {
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
}

.navLinkItemScroll {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

.navLinkItemScroll:hover, .navLinkItemScroll:active {
    text-decoration: none;
    color: #051b35;
}

.summaryBanner {
    background-image: url("../image/banner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: top top;
    background-repeat: no-repeat;
    background-size: cover;   
}

.summaryBannerOverlay {
    position: absolute;
    min-height: 500px;
    width: 100%;
    background-color: rgba(68, 37, 151, 0.7);
}

.countNumber {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.countText {
    color: yellow;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.countSection {
    margin-top: 20%;

}

.cardTitle {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.cardSubTitle {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.workCard {
    margin-top: 25%;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}

.iconBullet {
    color: #205faa;
    font-size: 16px;
}

.summaryIcon {
    height: 5rem;
    width: 5rem;
    border-radius: 50px;
    border: 2px solid black;
}

.projectCardImg {
    height: 300px !important;
}

.projectCardBody {
    height: 260px;
}


.githubCatCard {
    background-image: url("../image/github.gif");
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.projectCard {
    background: white;
    border-radius: 0.6rem;
    margin: 1em;
    cursor: pointer;
    box-shadow: 0 13px 25px -5px;
    transition: all ease 200ms;
}

.projectCard:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 30px -5px;
}

.courseImg {
    width: 100%;
}

.courseViewMore {
    color: #051b35;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}

.videoCard {
    box-shadow: 0 13px 10px -5px;
    padding: 8rem 3rem 8rem 3rem;
    background-color: #051b35;
    margin: 20px auto;
    border-radius: 5px;
}

.iconProject {
    color: #fff;
    font-size: 40px;
}

.videoText {
    margin-top: 2%;
}

.siderBack {
    background-color: #051b35;
    min-height: 400px;
}

.reviewMainTitle {
    color: #fff;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.reviewBottom {
    background: #fff none repeat scroll 0 0;
    height: 3px;
    width: 100px;
    margin: -1.9rem auto 0;
    margin-bottom: 3rem;
}

.reviewCircleImg {
    margin: 0 auto;   
    width: 100px;
    height: 100px;
    border: 3px solid #051b35;
    border-radius: 50%;
}

.reviewName {
    color: #fff;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.reviewDescription {
    color: #fff;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.aboutMeImage {
    width: 550px;
    height: 550px;
    background-color: #051b35;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-style: solid;
    border-color: red green blue;
    float: right;
}

.aboutImg {
    height: 100%;
    margin-top: 210px;
}

.aboutMeBody {
    width: 100%;
    height: 100%;
    padding-left: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
}

.aboutMeTitle {
    color: #051b35;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.aboutMeDetails {
    color: #051b35;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.footerSection {
    margin-top: 5rem;
    box-shadow: 0 0 8px 0;
    background-color: #051b35;
}

.footerName {
    color: #fff;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;;
    font-weight: 600;
}

.socialContainer {
    margin-top: 30px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}


.socialContainer a {
    color: #fff;
}

.footerDescription {
    color: #fff;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.footerLinks a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.footerLinks a:hover {
    text-decoration: none;
    color: rgb(101, 134, 255);
}

.copyrightSection {
    padding: 20px 20px 20px 20px;
    background-color: #031021;
}

.copyrightLink {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.copyrightLink:hover {
    color: white;
    text-decoration: none;
}

.topFixedPage {
    background-image: url("../image/page.png");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.topPageOverlay {
    position: absolute;
    min-height: 250px;
    width: 100%;
    background-color: rgb(19, 1, 102, 0.7);
}

.topContentPage {
    margin-top: 8em;
}

.topPageTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffee00;
    font-size: 40px;
}

.refundSection > ul {
    list-style: none;
}

.removeBullets {
    list-style: none;
}

/* homepage welcome design */

.intro-area--top {
    margin-top: -70px;
    position: relative;
    z-index: 2;
}

.section-title {
    margin-bottom: 45px;
    position: relative;
}

.section-title .sub-title {
 font-weight: 500;
 position: relative;
 display: inline-block;
 margin-bottom: 0;   
}

.double-line:before {
    content: "";
    position: absolute;
    left: -50px;
    top: 10px;
    height: 2px;
    width: 40px;
    background: #051b35;
}

.double-line:after {
    content: "";
    position: absolute;
    right: -50px;
    top: 10px;
    height: 2px;
    width: 40px;
    background: #051b35;
}

.intro-area--inner {
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.3);
    background: #fff;
    padding: 50px 0 0;
    border-radius: 8px;
}

.maintitle {
    font-family: 'Montserrant', sans-serif;
    font-weight: 700;
    color: #051b35;
    font-size: 40px;
}

.welcomeLightBulbIcon {
    width: 50%;
    height: auto;
    margin-top: -15px;
}

.welcomeFooter {
    padding: 30px 30px 10px;
    border-radius: 0 0 7px 7px;
    background: #ffee00;

}

.welcomeIntro {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #051b35;
    font-size: 16px;
}


.after-shape:after {
    content: "";
    margin-right: 30px;
    position: absolute;
    left: 35%;
    width: 145px;
    height: 70%;
    top: 600px;
    border-radius: 10px;
    background: #fdc800;
    z-index: -1;
    transform: translateY(-50%);
}

.projectDetailsText {
    font-family: 'Montserrant', sans-serif;
    font-weight: 700;
    color: #051b35;
    font-size: 40px;
}

.project-details {
    margin-left: 35px;
}

.projectDetailsSubText {
    color: #051b35;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

/* COURSE DETAILS */

.courseDetailsText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #051b35;
    font-size: 35px;
}

.courseDetailsImg {
    width: 100%;
}

.courseDescription {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #051b35;
    font-size: 15px;
}

.widget_feature {
    border: 1px solid #cbd6e2;
}

.widget_feature ul li {
    color: #051b35;
    font-size: 16px;
    margin-bottom: 9px;
    list-style: none;
}

.widget_feature ul li span {
    font-weight: 500;
    color: #051b35;
    margin-right: 5px;
}

.widget-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: relative;
}

.price-wrap {
    background-color: rgb(200, 205, 246);
    padding: 34px 23px 40px;
}