.topFixedBanner {
    background-image: url("../image/banner.jpg");
    min-height: 34.375rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.topBannerOverlay {
    position: absolute;
    min-height: 34.375rem;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

.topContent {
    margin-top: 10em;
}

.topTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 3rem;
}

.topSubTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 1.375rem;
}

.cloudnetworkIcon {
    height: 5rem;
    width: 5rem;
}

.barchartIcon {
    height: 5rem;
    width: 5rem;
}

.internetIcon {
    height: 5rem;
    width: 5rem;
}