/* Small devices (Galaxy fold, 280px and up) */
@media (min-width: 280px) and (max-width: 767.98px) { 
    .topTitle {
        font-size: 2rem;
    }
    .topSubTitle {
        font-size: 1rem;
    }
    .projectCard {
        width: 24em;
    }
    .seviceMainTitle {
        margin-top: 13rem;
    }
    .aboutMeImage {
        width: 400px;
        height: 400px;
        margin-bottom: -129px;
    }
}

/* Medium devices (tables, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra Large devices (large desktops, 992px and up) */
@media (min-width: 1200px) { 

}